<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullying Wiki | About Us</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/bullying.wiki-logo.png" />
        <link href="/css/aboutUs.css" rel="stylesheet" type="text/css" />
        <%- include ('./partials/robotoImport.ejs') -%>
    </head>
    <body>
        <%- include ('./partials/nav.ejs') -%>

        <p>
            We are two young boys who made this website for a school project.
            <br />
            <br />
            We were inspired by the amount of bullying we saw online and
            in-person and little being done to combat it or not enough done to
            bring awareness around it.
            <br />
            <br />
            We are lucky to be enrolled in a school who take these issues
            seriously.
            <br />
            <br />
            Unfortunately for other schools ... this is not the case.
        </p>

        <h2>Meet the team</h2>
    </body>
</html>
