<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullying Wiki | About Us</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/bullying.wiki-logo.png" />
        <link href="/css/aboutUs.css" rel="stylesheet" type="text/css" />
        <%- include ('./partials/robotoImport.ejs') -%>
    </head>
    <body>
        <%- include ('./partials/nav.ejs') -%>

        <p>
            We are two passionate young students who feel that everyone deserves
            a safe and courteous online environment because of our love of
            Information Software Technology (IST). Our objective is to raise
            awareness and encourage healthy digital interactions in order to
            spark a global movement to eradicate cyberbullying.
            <br />
            <br />
            We realise the importance of technology and the internet on our
            lives as students. While the digital world offers enormous promise
            for connecting people, encouraging creativity, and enabling
            learning, it also has a negative side effect. In today's networked
            culture, cyberbullying, a dangerous and unpleasant behaviour, has
            become all too common.
            <br />
            <br />
            We hope to use this wiki to inspire people to stand up to
            cyberbullying and establish a constructive digital culture. We feel
            that effective combating this issue requires education, knowledge,
            and empathy. We seek to empower both victims and bystanders with the
            tools they need to make a difference by giving resources, sharing
            perspectives, and providing practical recommendations.
            <br />
            <br />
            But we can't do it on our own. We would like to invite you, our
            global community, to join us in this critical cause. By promoting
            the message of kindness, respect, and empathy online, we may have a
            huge impact. Your help is needed, whether you are a student, parent,
            educator, or simply someone who cares.
            <br />
            <br />
            Our wiki has a variety of information on numerous elements of
            cyberbullying, such as:
            <br />
            Understanding Cyberbullying: We define cyberbullying, its various
            manifestations, and the tremendous impact it may have on people's
            mental and emotional well-being.
            <br />
            <br />
            Prevention Strategies: We offer real advice and tactics to help
            people prevent cyberbullying by empowering them to establish safe
            online places and foster healthy connections.
            <br />
            <br />
            Victim Support: We provide assistance and resources to those who
            have been victims of cyberbullying, including advice on getting
            help, building resilience, and taking steps towards recovery.
            <br />
            <br />
            Bystander Intervention: Learn the power of becoming an upstander
            rather than a bystander. We offer ideas and insights to assist you
            in assisting and advocating for those who are being targeted.
            <br />
            <br />
            Legislation and Reporting: Learn about the legal aspects of
            cyberbullying, including relevant laws and rules in various
            countries, as well as how to successfully report incidents of
            cyberbullying.
            <br />
            <br />
            We think that by raising awareness and encouraging good change, we
            can make the internet a safer and more inclusive place for everyone.
            Let's work together to put an end to cyberbullying.
        </p>
    </body>
</html>
