<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullying Wiki | Home</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/bullying.wiki-logo.png" />
        <link href="/css/styles.css?v=1" rel="stylesheet" type="text/css" />
        <%- include ('./partials/robotoImport.ejs') -%>
    </head>
    <body>
        <%- include ('./partials/nav.ejs') -%>
        <div class="fold">
            <h1>
                <span class="fold-bullying"
                    >Bullying<span class="fold-dot">.</span>wiki</span
                >
                <span class="fold-rest"
                    >is creating a
                    <span class="fold-safer-web">safer web</span></span
                >
            </h1>
        </div>
        <div class="bullying-definition">
            <h1 class="bullying-definition-heading">Bullying</h1>
            <h3>bu · lee · uhng | <i>verb</i></h3>
            <p class="definition-body">
                The repeated and intentional mistreatment of others, causing<br />
                harm and distress through various forms of aggression and abuse.
            </p>
        </div>
        <div class="our-mission-button-container">
            <h1 class="our-mission-button-text">
                <a href="./mission">Our Mission</a>
            </h1>
        </div>

        <div class="image-container">
            <div class="image-wrapper">
                <div class="cropped-image">
                    <img
                        src="/img/statistics.png"
                        alt="Statistics"
                        class="image" />
                </div>
            </div>
        </div>
    </body>
    <div class="fold-hook">
        <h2>That's 59% too many.</h2>
    </div>
    <div class="fold-hook">
        <h2>
            How can <span class="fold-safer-web">YOU</span> help stop
            cyberbullying?
        </h2>
    </div>

    <div class="such-as-list-item">
        <div class="such-as-list-item-number">1</div>
        <div class="such-as-list-item-text">
            <b>Be a Digital Upstander:</b> Instead of being a passive observer,
            take action when you see cyberbullying. Express your support for the
            victim by reporting the occurrence or contacting a trustworthy adult
            or authority person. Your efforts can have a huge impact on breaking
            the cycle of abuse and fostering a positive online community.
        </div>
    </div>
    <br />
    <div class="such-as-list-item">
        <div class="such-as-list-item-number">2</div>
        <div class="such-as-list-item-text">
            <b>Think Before You Share:</b> Take a moment before sharing or
            forwarding any content to assess its possible impact. Remember that
            sending nasty or inappropriate comments helps to promote
            cyberbullying. You may help prevent the quick escalation of harmful
            online behaviour and build a culture of respect and empathy by being
            mindful of the content you share.
        </div>
    </div>
    <br />
    <div class="such-as-list-item">
        <div class="such-as-list-item-number">3</div>
        <div class="such-as-list-item-text">
            <b>Cultivate Digital Resilience:</b> Developing resilience is
            essential for dealing with cyberbullying. Build a support network of
            trusted friends, relatives, or mentors who can offer advice and
            encouragement to improve your emotional well-being. In addition,
            engage in activities that bring you joy, unplug from digital
            platforms when necessary, and seek professional treatment if the
            impacts of cyberbullying become overwhelming.
        </div>
    </div>
    <br /><br />
    <div class="fold-hook">
        <h2>Let's all take a stand to stop bullying. One at a time.</h2>
    </div>
    <script type="text/javascript" src="/app/nav.js"></script>
</html>
