<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullying Wiki | Home</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/bullying.wiki-logo.png" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <%- include ('./partials/robotoImport.ejs') -%>
    </head>
    <body>
        <%- include ('./partials/nav.ejs') -%>
        <div class="fold"><h1>Bullying.wiki</h1></div>
        <div class="bullying-definition">
            <h1>Bullying</h1>
            <h3>bu · lee · uhng | <i>verb</i></h3>
            <p>
                the repeated and intentional mistreatment of others, causing
                harm and distress through various forms of aggression and abuse.
            </p>
        </div>
    </body>
    <script type="text/javascript" src="/app/nav.js"></script>
</html>
