<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullying Wiki | Mission</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/bullying.wiki-logo.png" />
        <link href="/css/mission.css" rel="stylesheet" type="text/css" />
        <%- include ('./partials/robotoImport.ejs') -%>
    </head>
    <body>
        <%- include ('./partials/nav.ejs') -%>

        <p>
            Our objective is to raise awareness about bullying and cyberbullying
            while also providing a fun and educational environment. We believe
            that addressing such a significant issue does not have to be tedious
            or intimidating. We hope to captivate our audience's attention and
            create a desire for change by infusing our information with an
            engaging and fun manner.
            <br />
            <br />
            We want to create an environment in which learning about
            cyberbullying is both interactive and enlightening. We hope to
            provide insightful ideas, practical tips, and real-life tales that
            appeal to people of all ages through our wiki. We seek to inspire
            empathy, understanding, and a genuine desire to make a positive
            effect by providing facts in a relatable and friendly manner.
            <br />
            <br />
            In pursuit of our purpose, we also hope to break down the obstacles
            that frequently inhibit frank conversations regarding cyberbullying.
            We want to build an inclusive platform where people from all walks
            of life may contribute their experiences, views, and ideas. We seek
            to enable individuals to take an active role in tackling
            cyberbullying within their own circles and beyond by stimulating
            dialogue and developing a feeling of community.
            <br />
            <br />
            Furthermore, we recognise that cyberbullying may be a delicate and
            very personal subject. As a result, part of our aim is to provide a
            safe and nonjudgmental space for victims, bystanders, and anyone
            else affected by cyberbullying to seek assistance, resources, and
            solace. We aim to be a light of hope and strength for everyone,
            reminding them that they are not alone and that aid is accessible.
            <br />
            <br />
            Our ultimate goal is to effect a cultural shift that questions the
            acceptance of cyberbullying. We want to encourage people to be
            change agents by fostering kindness, respect, and empathy in their
            online interactions. We hope to contribute to a world where
            cyberbullying is obsolete, replaced by a digital landscape that
            embraces positivism, inclusivity, and compassion through raising
            awareness, encouraging understanding, and providing practical tools.
        </p>
    </body>
</html>
