<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bullying Wiki | Mission</title>
        <link
            rel="icon"
            type="image/x-icon"
            href="/img/bullying.wiki-logo.png" />
        <link href="/css/mission.css" rel="stylesheet" type="text/css" />
        <%- include ('./partials/robotoImport.ejs') -%>
    </head>
    <body>
        <%- include ('./partials/nav.ejs') -%>
    </body>
</html>
