<nav>
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <ul>
        <li class="home">
            <a class="home-link-logo" href="/">
                <img
                    src="/img/bullying.wiki-logo.png"
                    height="90px"
                    alt="bullying wiki logo icon" />
            </a>
        </li>
        <span class="nav-links">
            <li><a href="./aboutUs">ABOUT US</a></li>
            <li><a href="./mission">MISSION</a></li>
            <li><a href="./events">EVENTS</a></li>
        </span>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </ul>
</nav>
