<nav>
    <link href="/css/nav.css" rel="stylesheet" type="text/css" />
    <ul>
        <li class="home">
            <a href="/"
                ><img src="./img/MPT.png" alt="MPT logo" height="40px"
            /></a>
        </li>
        <span class="nav-links">
            <li><a href="./aboutUs">ABOUT US</a></li>
            <li><a href="./team">TEAM</a></li>
            <li><a href="./events">EVENTS</a></li>
        </span>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </ul>
</nav>
